default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  username: username
  password: password
  host: localhost

development:
  database: dev_culturalgps_app
  <<: *default

test:
  database: test_culturalgps_app
  <<: *default
