<div class="panel panel-default">
  <div class="panel-heading">
    <h1>
      Listing places
      <% if current_admin %>
        <%= link_to 'New Place', new_place_path, class: 'btn btn-primary pull-right' %>
      <% end %>
    </h1>
  </div>
  <%= render 'list' %>
</div>

